{% extends "easy_upload/base.html" %}
{% block content %}

<h2>Sequence of uploading file</h2>
<p>Always follow the following sequence while uploading data. Use this portal only to upload bulk data and use <a>admin</a> to do any kind of modifications. Download the CSV files from the link provided below. Make sure you follow the exact same format for uploading.</p>
<p>Please contact Administrator if you face any problems.</p>

<div class="row justify-content-center text-center">
  <div class="col-lg-3 card shadow-sm m-1 p-2">
    <a href="{% url "easy_upload_subject" %}"><h4>Subjects</h4></a>
    <a href="">
      <small>example csv</small>
    </a>
  </div>
  <div class="col-lg-1 m-3 d-lg-block d-none arrow">
    <i class="fas fa-arrow-circle-right"></i>
  </div>
  <div class="col-lg-1 m-3 d-block d-lg-none arrow">
    <i class="fas fa-arrow-circle-down"></i>
  </div>
  <div class="col-lg-3 card shadow-sm m-1 p-2">
    <a href="{% url "easy_upload_users" %}"><h4>Users</h4></a>
    <a href="">
      <small>example csv</small>
    </a>
  </div>
  <div class="col-lg-1 m-3 d-lg-block d-none arrow">
    <i class="fas fa-arrow-circle-right"></i>
  </div>
  <div class="col-lg-1 m-3 d-block d-lg-none arrow">
    <i class="fas fa-arrow-circle-down"></i>
  </div>
  <div class="col-lg-3 card shadow-sm m-1 p-2">
    <a href="{% url "easy_upload_teaches" %}"><h4>Teaches</h4></a>
    <a href="">
      <small>example csv</small>
    </a>
  </div>
</div>

<div class="line"></div>

{% endblock %}
